#color-red:hover {
    background: rgba(255, 0, 0, 0.2);
}

#color-green:hover {
    background: rgba(0, 255, 0, 0.2);
}

#color-blue:hover {
    background: rgba(0, 0, 255, 0.2);
}

#color-black:hover {
    background: rgba(0, 0, 0, 0.3);
}

#color-white:hover {
    background: rgba(255, 229, 180, 0.5);
}

#color-pink:hover {
    background: rgba(255, 20, 147, 0.2);
}

#color-grey:hover {
    background: rgba(128, 128, 128, 0.2);
}

#color-brown:hover {
    background: rgba(165, 42, 42, 0.2);
}